<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jwtdemo.dao.SysPermissionDao">

    <select id="getList" resultType="com.example.jwtdemo.entity.SysPermission">
        select
        p.id,
        p.parent_id,
        p.name,
        p.type,
        p.path,
        p.permission,
        p.order_num,
        p.disable
        from
        sys_permission p
    </select>


    <select id="getListByIds" resultType="com.example.jwtdemo.entity.SysPermission">
        select *
        from
        sys_permission
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>